{% extends 'barbara/base.html' %}
{% load static %}

{% block body_block %} 
<section class="header-section">
</section>

    <div class="container-fluid">
		<div class="row">
		  <div class="col-sm">
<p>O BARBARI</p>
<p>Barbara je doštudirala... Kasneje, po X letih practica je svoj interes v well-beingu človeka prenesla v lepotno stran.
V svojem prostem času rada preživlja čas..

<ul>
    <li>Potrdilo o udeležbi na delavnici s parfumiranimi permanentnimi laki Parish (2019)</li>
    <li>Certifikat za master course Combinal Eyelash Lifting (2019)</li>
    <li>Certifikat za opravljen IBX System Education Program (2017)</li>
    <li>Certifikat za tečaj Podaljševanje trepalnic (2014)</li>
    <li>Potrdilo o izobraževanju Barbor tretmani za obraz in telo (2011)</li>
    <li>Potrdilo o udeležbi seminarja Terapevtska masaža hrbta (2011)</li>
    <li>Certifikat za udeležbo seminarja Limfna drenaža (2011)</li>
    <li>Potrdilo o opravljenem tečaju Klinične Aromaterapije po licenci Inštituta Eve Taylor, London (2010)</li>
    <li>Potrdilo o opravljenem tečaju pedikure Zti kozmetika (Zavod za tehnično izobraževanje) (2001)</li>
</ul>
</p>
</div>
<div class="col-sm">
<img src="{% static 'images/Barbara.jpeg' %}" height="500px" alt="Barbara">
</div>
</div>
</div>
{% endblock %}