{% extends 'barbara/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block body_block %}

<nav class="nav">
  <div class="container-fluid">
      <div>
      <a href="{% url 'barbara:index' %}"><img class="img_logo_2" src="{% static 'images/logo_pink.svg' %}" alt="logo"></a>
      </div>
    
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks" id="black">
        <li><a href="{% url 'barbara:index' %}">{% trans "Domov" %}</a></li>
        <li><a href="{% url 'barbara:about' %}">{% trans "O Barbari" %}</a></li>
        <li><a href="{% url 'barbara:services' %}">{% trans "Ponudba" %}</a></li>
        <li><a class="current" href="{% url 'barbara:contact' %}">{% trans "Kontakt" %}</a></li>
      </ul>
    </div>
    <span class="navTrigger" id="pink">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
</nav>	

<!--- compressed menu function -->
<script>
$('.navTrigger').click(function () {
  $(this).toggleClass('active');
  console.log("Clicked menu");
  $("#mainListDiv").toggleClass("show_list");
  $("#mainListDiv").fadeIn();

});
</script>


<section class="header-section">
</section>
<section class="header2-section">
  
</section>

<div class="container">
<p class="main-headings" style="text-align: center;">{% trans "Kontakt" %}</p>
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-12 my-auto">
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-2 my-auto">
        <object class="svg_logo" type="image/svg+xml" data="{% static 'images/call.svg' %}" width="70px" height="70px"></object>
      </div>
      <div class="col-xl-8 col-lg-9 col-8 my-auto" style="line-height: 35px;">
        <p class="contact-headings">&nbsp&nbsp{% trans "Telefon" %}</p>
        <p>&nbsp&nbsp+386 41 429 948</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 my-auto">
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-2 my-auto">
        <object class="svg_logo" type="image/svg+xml" data="{% static 'images/at.svg' %}" width="70px" height="70px"></object>
      </div>
      <div class="col-xl-8 col-lg-9 col-8 my-auto" style="line-height: 35px;">
        <p class="contact-headings">&nbsp&nbsp{% trans "E-pošta" %}</p>
        <p>&nbsp&nbspbarbara.kacin@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12 my-auto">
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-1 col-2 my-auto">
        <object class="svg_logo" type="image/svg+xml" data="{% static 'images/time.svg' %}" width="70px" height="70px"></object>
      </div>
      <div class="col-xl-8 col-lg-9 col-10 my-auto" style="line-height: 35px;">
        <p class="contact-headings">&nbsp&nbsp{% trans "Odpiralni čas" %}</p>
        <p>&nbsp&nbsp{% trans "Po dogovoru" %}.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<p class="sub-headings" style="text-align: center; padding-top: 2rem;">{% trans "Piši mi" %}</p>
{% if sender_name %}
<p class="normal-text" style="text-align: center">{% trans "Hvala za sporočilo! Odgovorili bomo v najkrajšem možnem času" %}.</p>

{% else %}
<img class="contact-me-small" src="{% static 'images/woman.jpg' %}" alt="woman_on_computer">
<div class="row justify-content-center" id="contact-me-section">
  <div class="col-xl-6 col-lg-7 col-md-10" style="margin-top: 10px; margin-bottom: 10px;">
    <form method="POST">
      {% csrf_token %}
      {% crispy form %}
    </form>
  </div>    
</div>
{% endif %}

<p class="sub-headings" style="text-align: center;  padding-top: 2rem;">{% trans "Kje me najdeš" %}</p>
<div class="row justify-content-center">
<object class="svg_logo" type="image/svg+xml" data="{% static 'images/navigation.svg' %}" width="70px" height="70px"></object>
<p class="normal-text" style="line-height: 70px;">&nbsp&nbspSavska cesta 20, 4270 Jesenice.</p>
</div>
</div>

<div id="navigacija">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2750.250499797288!2d14.081250614988159!3d46.423914276914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477a9a7e1eab9fcd%3A0x5dd07e3c3e0c9f04!2sBarbara%20Torkar%20Dov%C5%BEan%20s.p.!5e0!3m2!1ssl!2ssi!4v1590396297994!5m2!1ssl!2ssi" class="google_map" allowfullscreen="" frameBorder="0" aria-hidden="false" tabindex="0"></iframe>
</div>
{% endblock %}