{% extends 'barbara/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pricing-list.css' %}" />

{% block body_block %} 

<section class="header-section">
</section>

<div class="pricing-list">
    <section class="services_section_style">
    <div id="obraz"><p class="heading-1">OBRAZ</p></div>
    <section class="pricing-heading">Nega obraza</section>
    <ul class="leaders">
    <li><span>Osnovna</span><span>30,00€</span></li>
    <li><span>Lifting</span><span>42,00€</span></li>
    <li><span>Mini</span><span>22,00€</span></li>
    <li><span>Problematična koža</span><span>26,00€</span></li>
    <li><span>Dodatek</span><span>4,00€</span></li>
    </ul>
    
    <section class="pricing-heading">Obrvi</section>
    <ul class="leaders">
    <li><span>Oblikovanje</span><span>5,00€</span></li>
    <li><span>Barvanje</span><span>4,00€</span></li>
    </ul>
    
    <section class="pricing-heading">
    Make up
  </section>
    <ul class="leaders">
    <li><span>Klasični mali</span><span>12,00€</span></li>
    <li><span>Svečani</span><span>18,00€</span></li>
    </ul>
    
    <section class="pricing-heading">Trepalnice</section>
    <ul class="leaders">
    <li><span>Naravne – barvanje</span><span>4,00€</span></li>
    <li><span>Podaljševanje – klasične</span><span>30,00€</span></li>
    <li><span>Podaljševanje – volumenske</span><span>35,00€</span></li>
    <li><span>Dopolnitev – manjša</span><span>25,00€</span></li>
    <li><span>Dopolnitev – večja</span><span>30,00€</span></li>
    <li><span>Odstranjevanje</span><span>5,00€</span></li>
    </ul>

    <div id="roke"><p class="heading-1">ROKE</p></div>
    <section class="pricing-heading">Manikura</section>
    <ul class="leaders">
    <li><span>Osnovna</span><span>12,00€</span></li>
    <li><span>S klasičnim lakiranjem</span><span>16,00€</span></li>
    <li><span>Z gel lakiranjem</span><span>20,00€</span></li>
    </ul>

    <section class="pricing-heading">Nohti</section>
    <ul class="leaders">
    <li><span>Poslikava</span><span>4,00€</span></li>
    <li><span>Podaljševanje</span><span>25,00€</span></li>
    <li><span>Podaljševanje z gel lakiranjem</span><span>28,00€</span></li>
    <li><span>Gel – dopolnitev – manjša</span><span>18,00€</span></li>
    <li><span>Gel – dopolnitev – manjša</span><span>24,00€</span></li>
    <li><span>Popravilo – 1 kos</span><span>4,00€</span></li>
    <li><span>Geliranje naravnih nohtov</span><span>24,00€</span></li>
    <li><span>Naravni, poškodovani – nega</span><span>15,00€</span></li>
    </ul>

    <div id="noge"><p class="heading-1">NOGE</p></div>
    <section class="pricing-heading">Pedikura</section>
    <ul class="leaders">
    <li><span>Osnovna</span><span>18,00€</span></li>
    <li><span>Za problematične noge</span><span>22,00€</span></li>
    </ul>

    <section class="pricing-heading">Lakiranje</section>
    <ul class="leaders">
    <li><span>Klasično</span><span>4,00€</span></li>
    <li><span>Gel</span><span>6,00€</span></li>
    </ul>
    
    <section class="pricing-heading">Izdelava nohta</section>
    <ul class="leaders">
    <li><span>1 kos</span><span>8,00€</span></li>
    </ul>

    <div id="depilacije"><p class="heading-1">DEPILACIJE</p></div>
    <section class="pricing-heading">Depilacija</section>
    <ul class="leaders">
    <li><span>Cele noge</span><span>18,00€</span></li>
    <li><span>Delna</span><span>12,00€</span></li>
    <li><span>Brazilska</span><span>18,00€</span></li>
    <li><span>Podpazduhe</span><span>10,00€</span></li>
    <li><span>Roke</span><span>10,00€</span></li>
    <li><span>Hrbet</span><span>12,00€</span></li>
    <li><span>Brčice</span><span>4,00€</span></li>
    <li><span>Bikini</span><span>8,00€</span></li>
    <li><span>Celotna</span><span>34,00€</span></li>
    </ul>
 

    <div id="masaze"><p class="heading-1">MASAŽE</p></div>
    <section class="pricing-heading">Masaža</section>
    <ul class="leaders">
    <li><span>Obraz + vrat + dekolte  (15 min.)</span><span>12,00€</span></li>
    <li><span>Stopal – refleksna  (30 min.)</span><span>22,00€</span></li>
    <li><span>Delna  (30 min.)</span><span>15,00€</span></li>
    <li><span>Celega telesa  (45 min.)</span><span>22,00€</span></li>
    <li><span>Limfna drenaža  (50 min.)</span><span>24,00€</span></li>
    </ul>
  </section>
  </div>

  <p>Cenik velja od 1.12.2019 dalje. V skladu s 1. odstavkom 94. člena ZDDV nisem zavezanka za DDV, zato cene v ceniku ne vsebujejo DDV!</p>

  <section class="services_section_style">
    <div class="services_section_style_about">
    <div class="row">
            <div class="col-sm">
    <div class="book">
            </div>
    </div>
        <p>Naroči se še danes!</p>
            <div class="col-sm">
        <div class="more_button">
            <a href="{% url 'barbara:contact' %}"><span>REZERVIRAJ</span></a>
        </div>
            </div>
    </div>
    </div>
    </section>

{% endblock %}